@model IEnumerable<KutseApp.Models.Guest>

@{
    ViewBag.Title = "Külalised keda ei saa tulla";
}

<h2>Külalised keda ei saa tulla</h2>

<p>
    @Html.ActionLink("Uus", "Create")
</p>
@Html.ActionLink("Kõik", "Guests")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attend)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attend)
            </td>
            <td>
                @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
